:root {
  font-weight: 500;
}

body {
  background-color: var(--color-white);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--global-color-border) transparent;
  outline: none !important;
}

.scannerPreview {
  section {
    width: auto;
  }
}
